code/pymontecarlo/input/geometry.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="material.xsd" />
    <xsd:include schemaLocation="body.xsd" />

    <xsd:complexType name="geometryType">
        <xsd:attribute name="tilt" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                    <xsd:minInclusive value="-3.1416" />
                    <xsd:maxInclusive value="3.1416" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="rotation" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                    <xsd:minInclusive value="-3.1416" />
                    <xsd:maxInclusive value="3.1416" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="geometry" type="geometryType" abstract="true" />

    <xsd:complexType name="substrateType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="1" maxOccurs="1" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="1"
                                    maxOccurs="1" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="substrate" type="xsd:integer"
                    use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="substrate" type="substrateType"
        substitutionGroup="geometry" />

    <xsd:complexType name="inclusionType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="2" maxOccurs="2" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="2"
                                    maxOccurs="2" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="substrate" type="xsd:integer"
                    use="required" />
                <xsd:attribute name="inclusion" type="xsd:integer"
                    use="required" />
                <xsd:attribute name="diameter" type="xsd:double"
                    use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inclusion" type="inclusionType"
        substitutionGroup="geometry" />

    <xsd:complexType name="multiLayersType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="1"
                                    maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="substrate" type="xsd:integer"
                    use="optional" />
                <xsd:attribute name="layers" type="xsd:string"
                    use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="multiLayers" type="multiLayersType"
        substitutionGroup="geometry" />

    <xsd:complexType name="grainBoundariesType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="1"
                                    maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="left_substrate" type="xsd:integer"
                    use="required" />
                <xsd:attribute name="right_substrate" type="xsd:integer"
                    use="required" />
                <xsd:attribute name="layers" type="xsd:string"
                    use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="grainBoundaries" type="grainBoundariesType"
        substitutionGroup="geometry" />

    <xsd:complexType name="sphereType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="1" maxOccurs="1" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="1"
                                    maxOccurs="1" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="substrate" type="xsd:integer"
                    use="required" />
                <xsd:attribute name="diameter" type="xsd:double"
                    use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="sphere" type="sphereType" substitutionGroup="geometry" />

    <xsd:complexType name="cuboids2dType">
        <xsd:complexContent>
            <xsd:extension base="geometryType">
                <xsd:sequence>
                    <xsd:element name="materials">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="material"
                                    minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="bodies">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element ref="body" minOccurs="1"
                                    maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="positions">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="position"
                                    minOccurs="1" maxOccurs="unbounded">
                                    <xsd:complexType>
                                        <xsd:attribute name="index"
                                            type="xsd:integer" use="required" />
                                        <xsd:attribute name="x"
                                            type="xsd:integer" use="required" />
                                        <xsd:attribute name="y"
                                            type="xsd:integer" use="required" />
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>

                <xsd:attribute name="nx" type="xsd:integer" use="required" />
                <xsd:attribute name="ny" type="xsd:integer" use="required" />
                <xsd:attribute name="xsize" type="xsd:double" use="required" />
                <xsd:attribute name="ysize" type="xsd:double" use="required" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="cuboids2d" type="cuboids2dType"
        substitutionGroup="geometry" />
</xsd:schema>